[Unit]
Description=Squash
After=network.target

[Service]
ExecStart=/home/ubuntu/.nvm/versions/node/v20.15.1/bin/node /home/ubuntu/CAB432/api/app.js
Restart=always
User=ubuntu
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/CAB432

[Install]
WantedBy=multi-user.target