# The environment variables for local development, read by compression worker
# create your own .env file and fill in the values

# MINIO configuration for reading/writing source/target files
MINIO_HOST=
MINIO_PORT=
MINIO_KEY=
MINIO_SECRET=

# Redis configuration for queue and cache
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Database configuration
DATABASE_URL=