# The environment variables for local development, read by nextjs
# create your own .env file and fill in the values

# register your own google client id and secret
# https://console.cloud.google.com/apis/credentials
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
# the secret used to encrypt the session cookie, 
# and also used to sign the token, so it should be a long string
NEXTAUTH_SECRET=

# MINIO configuration for object storage
MINIO_HOST=
MINIO_PORT=
MINIO_KEY=
MINIO_SECRET=

# Redis configuration for queue and cache
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Database configuration
DATABASE_URL=
